$base-font-size: 16px;
$base-font-family: 'Roboto';
$dark-background: #202020;
$light-text: #ffffff;
$grey-text: #cacaca;
$grey-background: #4a4a4a;
$hover-color: #ff6e30;
$focus-background: #bc572b;
$active-color: #ce4307;
$btn-color: #ff6e30;
$form-text: #999999;
$error-color: #ff3030;
