extends layout/app 

block page
  include chunk/header 

  h1.visually-hidden High pass
  
  main.main
    include chunk/hero
    include chunk/about
    include chunk/project
    include chunk/contact
  include chunk/footer 


