.about {
  padding-top: 32px;
  padding-bottom: 68px;
  background-color: $dark-background;
  color: $light-text;

  @media (max-width: 1120px) {
    padding-bottom: 82px;
  }

  @media (max-width: 850px) {
    padding-top: 28px;
    padding-bottom: 60px;
  }

  &-container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  &-content {
    width: 50%;
    padding-right: 15px;
    
    @media(max-width: 850px) {
      width: 52%;
      padding-right: 25px;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding-right: 0px;
    }

    &__title {
      margin: 0;
      margin-bottom: 5px;
      font-family: 'TTFirsNeue';
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;

      @media(max-width: 767px) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    &__text {
      margin: 0;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $grey-text;

      @media(max-width: 767px) {
        font-size: 13.8px;
        line-height: 25px;
      }
    }
  }

  &-subscribe {
    padding-top: 32px;

    @media(max-width: 767px) {
      padding-top: 20px;
    }

    &__title {
      font-family: 'TTFirsNeue';
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;

      @media(max-width: 1024px) {
        margin-bottom: 15px;
      }

      @media(max-width: 767px) {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
      }

      @media(max-width: 390px) {
        margin-top: 25px;
      }
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: 1120px) {
      flex-wrap: wrap;
    }

    &__label {
      position: relative;
      width: 75%;

      @media (max-width: 1120px) {
        width: 74%;
        margin-bottom: 20px;
      }

      @media(max-width: 850px) {
        width: 100%;
      }
    }

    &__field {
      width: 100%;
      padding: 14px 21px;
      border: 1px solid $grey-background;
      background-color: $grey-background;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $light-text;

      @media(max-width: 767px) {
        padding: 11px 21px;
      }

      &::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey-text;
        transition: color .3s ease-in-out;
      }

      &:hover::placeholder {
        color: $hover-color;
      }

      &:focus {
        border: 1px solid $hover-color;
      }

      &:active {
        border: 1px solid $grey-background;
        color: $light-text;
      }
    }

    &__submit {
      @include orange-btn;
    }

    .js-validate-error-field {
      border: 1px solid #f06666 !important;
    }
  
    .js-validate-error-label {
      position: absolute;
      top: 3px;
      left: 23px;
      color: #f06666 !important;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
    }
  }

}