.footer {
  background-color: $dark-background;
  padding-top: 24px;
  padding-bottom: 16px;

  @media (max-width: 590px) {
    padding-top: 32px;
    padding-bottom: 0;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(8, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 590px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-width: 100vw;
      overflow: hidden;
    }
  }

  &-logo {
    grid-column: span 4;

    @media (max-width: 1024px) {
      padding-top: 5px;
      grid-column: span 3;
    }

    @media (max-width: 590px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px 0;
      background-color: #4A4A4A;
    }

    .logo-svg {
      width: 190.25px;
      height: 30.7px;

      @media (max-width: 1200px) {
        width: 166px;
        height: 26.7px;
      }

      @media (max-width:590px) {
        width: 112px;
        height: 18px;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    &__descr {
      margin: 0;
      margin-top: 5px;
      font-family: 'TTFirsNeue';
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #e9e9e9;

      @media (max-width: 590px) {
        margin-top: 0px;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }

  &-quote {
    grid-column: 5/11;

    @media (max-width: 1024px) {
      grid-column: 4/7;
    }

    @media (max-width: 790px) {
      display: none;
    }

    &__text {
      margin: 0;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $grey-text;

      @media (max-width: 1024px) {
        font-size: 15px;
      }
    }
  }

  &-social {
    grid-column: 11/13;

    @media (max-width: 1024px) {
      grid-column: 7/9;
      justify-content: end;
    }

    @media (max-width: 590px) {
      align-self: center;
    }

    &__title {
      margin: 0;
      margin-bottom: 7px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $grey-text;
      text-align: right;

      @media (min-width: 769px) and (max-width: 960px) {
        font-size: 14px;
      }

      @media (max-width: 590px) {
        text-align: center;
      }
    }

    .social-list {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      margin-right: 40px;

      @media(max-width: 590px) {
        justify-content: center;
        margin: 0;
      }

      &__item {
        
      &:not(:last-child) {
        margin-right: 20px;
      }
      }

      &__link {
        .social-svg {
          width: 30px;
          height: 30px;
          color: #cacaca;
          transition: color .3s ease-in-out;       
        }

        &:hover .social-svg{
          color: $hover-color;
        }

        &:hover .social-svg{
          color: $focus-background;
        }

        &:active .social-svg{
          color: $active-color;
        }
      }
    }
  }
}