-var list = [{name:"О студии", href:"#about"}, {name:"Наши проекты", href:"#project"}, {name:"Услуги", href:"#"}, {name: "Мастер-классы", href:"#"},  {name: "Контакты", href:"#contact"}]

header.header
  .container.header-container
    a.logo(href="#")
      svg.logo-svg
        use(xlink:href="img/sprite.svg#logo")
    nav.header-menu
      button.header-burger.burger(type="button"  aria-label="Открыть меню")
          span.header-burger__line
          span.header-burger__line
          span.header-burger__line
      ul.header-list
        each item in list
          li.header-item
            a.header-item__link(href=item.href)= item.name
      a.tel.header-tel(href="tel:+749542423532") +7&nbsp;495&nbsp;424&#8209;23&#8209;532
    form.header-search(action="#")
      input(type="search" name="header-search" placeholder="Что будем искать?" class="input-reset header-search__field" autocomplete="off")
      button(type="button" aria-label="найти" class="header-search__submit search-submit")
        svg.search-submit__svg
          use(xlink:href="img/sprite.svg#search")