section.hero
  .container.hero-container
    .hero-card.hero-card--one
      span.heshtag #мастеркласс
      .hero-card__content.card-content
        p.card-content__descr Мастер-класс от Игоря Робова
        h2.card-content__title Неоновый фотосет 2.0 7 июля 20:00
        button.btn--reset.card-content__btn Узнать больше
    .hero-card.hero-card--two
      p.hero-text Работы участников предыдущего мастер-класса
      img.hero-image(src="./img/hero2.jpg" alt="портретное фото")
    .hero-card.hero-card--three
      img.hero-image.hero-image--3(src="./img/hero3.jpg" alt="портретное фото")
    .hero-card.hero-card--four
      img.hero-image.hero-image--4(src="./img/hero4.jpg" alt="портретное фото")