section.project( id="project")
  .container.container-project
    h2.project-title Наши проекты
    .project-grid
      article.project-grid__card.project-grid__card--one.small-card
        .small-card__top
          picture.small-card__picture
            source.small-card__img(media="(min-width: 320px)", srcset="./img/project1.jpg 1x")
            img.small-card__img( src="./img/project1.jpg" alt="пейзаж фотография")
          a.heshtag.small-card__heshtag(href="#") #пейзаж
        h3.small-card__text Синтетически, смешаны с не уникальными данными до степени…
        time.date.small-card__date(datetime="2022-06-16") 16 июня
      article.project-grid__card.project-grid__card--two.small-card
        .small-card__top
          img.small-card__img( src="./img/project2.jpg" alt="портрет фотография")
          a.heshtag.small-card__heshtag(href="#") #портрет
        h3.small-card__text В своём стремлении улучшить опыт мы упускаем, что явные...
        time.date.small-card__date(datetime="2022-05-28") 28 мая
      article.project-grid__card.project-grid__card--three.small-card.small-card--stretch
        .small-card__top
          picture.small-card__picture
            source.small-card__img(media="(max-width: 1024px)", srcset="./img/project3-1024.jpg 1x")
            source.small-card__img(media="(min-width: 1025px)", srcset="./img/project3.jpg 1x")
            img.small-card__img( src="./img/project3.jpg" alt="предмет фотография")
          a.heshtag.small-card__heshtag(href="#") #предмет
        h3.small-card__text Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
        time.date.small-card__date(datetime="2022-05-14") 14 мая
      article.project-grid__card.project-grid__card--four.big-card
        picture.big-card__picture
          source.big-card__img(media="(max-width: 1280px)", srcset="./img/project4-1024.jpg 1x")
          source.big-card__img(media="(min-width: 1281px)", srcset="./img/project4.jpg 1x")
          img.big-card__img( src ="./img/project4.jpg" alt="fuji фотография" )
        a.heshtag.big-card__heshtag(href="#") #fuji
        .big-card__content.big-content
          time.date.big-content__date(datetime="2022-04-09") 9 апреля
          h3.big-content__title Cемантический разбор
          p.big-content__text В рамках спецификации современных стандартов, интерактивные прототипы
          button.big-content__btn( type="button" ) О проекте
      article.project-grid__card.project-grid__card--five.big-card
        picture.big-card__picture
          source.big-card__img(media="(max-width: 1280px)", srcset="./img/project5-1024.jpg 1x")
          source.big-card__img(media="(min-width: 1281px)", srcset="./img/project5.jpg 1x")
          img.big-card__img( src ="./img/project5.jpg" alt="проект збвение" )
        a.heshtag.big-card__heshtag(href="#") #проектзабвение
        .big-card__content.big-content
          time.date.big-content__date(datetime="2022-04-20") 20 марта
          h3.big-content__title Забвение
          p.big-content__text Играет важную роль в формировании глубокомысленных рассуждений
          button.big-content__btn( type="button" ) О проекте
      article.project-grid__card.project-grid__card--six.middle-card
        .middle-card__top
          picture.middle-card__picture
            source.hero-image(media="(max-width: 390px)", srcset="./img/project6-390.jpg 1x")
            source.hero-image(media="(max-width: 1024px)", srcset="./img/project6-1024.jpg 1x")
            source.hero-image(media="(min-width: 1025px)", srcset="./img/project6.jpg 1x")
            img.middle-card__img( src="./img/project6.jpg" alt="ретушь")
          a.heshtag.project-heshtag(href="#") #ретушь
        h3.middle-card__text Как принято считать, многие известные личности и по сей день остаются уделом либералов…
        time.date.middle-card__date(datetime="2022-03-09") 9 марта
      article.project-grid__card.project-grid__card--seven.middle-card
        .middle-card__top
          picture.middle-card__picture
            source.hero-image(media="(max-width: 390px)", srcset="./img/project7-320.jpg 1x")
            source.hero-image(media="(max-width: 1024px)", srcset="./img/project7-1024.jpg 1x")
            source.hero-image(media="(min-width: 1025px)", srcset="./img/project7.jpg 1x")
            img.middle-card__img( src="./img/project6.jpg" alt="портрет")
          a.heshtag.project-heshtag(href="#") #портрет
        h3.middle-card__text С учётом сложившейся международной обстановки, новая модель организационной…
        time.date.middle-card__date(datetime="2022-03-01") 1 марта