doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link( rel = "icon" href="./img/favicon/favicon.png" type="image/x-icon")
    link(rel="stylesheet", href="./css/main.css")
    link(rel="stylesheet", href="./css/vendor.css")
    script(src="./resources/just-validate.min.js", defer)
    script(src=src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU")
    script(src="./js/main.js", defer)
    title Document
  body
    block page